body {
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
img {
  width: 90%;
  position: relative;
}

#container {
  display: flex;
  width: 90%;
  margin: 35px;
  justify-content: space-between;
}
.buttons {
  display: flex;
  padding: 1%;
  width: 90%;
}
.buttons * {
  padding: 3% 7%;
}
.submit {
  box-shadow: 0 5px 10px 0;
  font-size: 1rem;
  border-radius: 5px;
}
.input-form {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  width: 100%;
}
.input-form * {
  margin: 1% 1%;
}
.input-form label {
  height: 20px;
}
.title {
  font-size: 1.7rem;
}

.bold {
  font-weight: bold;
}
#intro {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 5px 10px auto 5px;
  margin: 3% 3%;
}
#work-area {
  padding: 5px 30px;
  flex-basis: 50%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 3% 3%;
  position: relative;
}
#ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 350px;
  margin: 3% 4%;
  background-color: gray;
  padding: 0 5px;
  color: white;
}
#step-1 {
  display: flex;
}

.none {
  display: none;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cancel {
  border: none;
  background-color: transparent;
  padding: 1%;
  cursor: pointer;
}
.cancel:hover {
  color: red;
}

.desc {
  font-size: 1rem;
  line-height: 1.5;
  padding-right: 8%;
}
.story {
  line-height: 1.5;
}

.shapes {
  flex-direction: column;
  flex-wrap: wrap;
}
.steps {
  flex-direction: column;
  justify-content: space-evenly;

  flex-grow: 1;
  height: 100%;
}
.step-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: content;
}
.step-title {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}
.shapes label {
  margin: 3% 0;
}
input[type="number"] {
  right: 20%;
  position: absolute;
}
#content-box {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  #content-box {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #work-area {
    width: fit-content;
  }
  #ad {
    flex-basis: 120px;
  }
}
